*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif
}
 /* banner-section */
 .banner{
    background-image: url('../images/banner/banner2.png');
    background-size: cover;
    background-position: center;
    width: 1600px;
    height: 750px;
 }
 .banner-item{
    position: absolute;
    left: 800px;
    top: 190px;
    text-align: right;
    right: 150px;
 }
 .banner-title{
    text-align: right;
    font-size: 70px;
    color: #151414;
    margin-bottom: 20px;
 }
 .banner-des{
    text-align: right;
    font-size: 15px;
    margin-bottom: 20px;
 }
 .btn-primary{
    color: #FFFFFF;
    text-align: right;
    background: #F15B22;
    border-radius: 5px;
    padding: 10px 15px;
 }
 /* previous year container */
 .previous-y-container{
    display: flex;
    gap: 100px;
    margin: 40px 200px;
 }
 .container-img{
    
 }
 .container-des{
    margin-top: 300px;
    text-align: left;
 }
 .con-title{
    font-size: 50px;
    margin-bottom: 20px;
  
 }
 .con-parag{
    font-size: 15px;
    margin-bottom: 20px;
 }
 li{
    list-style: none;
    font-size: 13px;
    line-height: 36px;
 }
 li img{
    width: 20px;
    height: 15px;
    margin-right: 5px;
 }
 .plan-box{
    margin: 40px 200px;
 }
 .plan-title{
    text-align: center;
    margin-bottom: 40px;
    font-size: 45px;
 }
 .plan-des{
    display: flex;
    justify-content: space-between;
 }
 .planning{

 }
 .plan-des-title{
    font-size: 25px;
    margin-top: 20px;
 }
 .plan-des-p{
    font-size: 17px;
    text-align: center;
 }
 .p-img{
    text-align: center;
    
 }
/* about me */
.about{
    text-align: center;
    margin: 100px 200px;

}
.about-t{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
    padding: 50px;

}
.about-p{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin: 5px 100px;
    margin-bottom: 40px;
}
.about-info{
    display: flex;
    justify-content: space-around;
    margin: 0 100px;

}
.info-t{

}
.info-n{
margin-bottom: 70px;
font-weight: 700;
font-size: 20px;
color: #474747;
}
/* gradiant-img-section */
.gradiant-img{
    margin: 40px 200px 50px 350px;
}
.gradiant-box{
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),url('../images/watch.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 800px;
    height: 200px;
    position: relative;
   
}
.gradiant-des{
   position: absolute;
   top: 50px;
   left: 50px;
}
.g-img-titile{
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
/* footer item */
.footer-container{
    margin: 40px 200px;
    background: #151414;
    padding: 100px;

}
.footer-box{
    display: flex;
    gap: 50px;
}
.footer-des{
    width: 600px;
    height: 300px;
    text-align: justify;
    margin-left: 100px;
}
.footer-title{
    color: #F8F8F8;
    margin-bottom: 25px;
    font-size: 40px;
}
.footer-p{
    color: #F8F8F8;
    font-size: 16px;
    margin-bottom: 25px;
}
.f-email{
    color: #F8F8F8;
    font-size: 16px;
    margin-bottom: 25px;

}
.f-phone{
    color: #F8F8F8;
    font-size: 16px;
    margin-bottom: 25px
}
.footer-subscribe{
    width: 600px;
    height: 300px;
    margin-left: 100px;
}
.sub-title{
    color: #F8F8F8;
    margin-bottom: 25px;
    font-size: 40px;
}
.mail-area{
    background-color: #2b0404;
    color: #F8F8F8;
    padding: 8px 19px;
    margin-bottom: 20px;
    border-radius: 5px solid white;
    font-size:17px ;

}
